/* CSS */
#wrapper{
  margin: 1px auto;
  padding:0;
  width:900px;
  border:7px solid #0808B9;

}
body{
  background-color: #999999;
}
nav{
  padding: 0px;
  margin: 0px;
  background: #0042fb;
  background-image:linear-gradient(to bottom, #0042fb, #0086ff, #00b5ff, #00daff, #00fbe5);
  text-decoration: none;
}
nav ul{
  margin: 0px;
  padding: 0px;
  background-image:linear-gradient(to bottom, #0042fb, #0086ff, #00b5ff, #00daff, #00fbe5);

  list-style-type: none;

}
nav li{
  display: inline-block;
  padding:0px;
  border:1px solid #0808B9;
  margin: 0px;
  width:200px;
  background-color: #0808b9;
  background-image:linear-gradient(to bottom, #0042fb, #0086ff, #00b5ff, #00daff, #00fbe5);


}
nav li a{
  color:#0860B9;
  padding: 10px;
  display: block;
  background-image:linear-gradient(to bottom, #0042fb, #0086ff, #00b5ff, #00daff, #00fbe5);
text-decoration: none;
font-family: sans-serif;
}
nav li a:hover{
 background-image: linear-gradient(to bottom, #062889, #004696, #00598d, #006779, #077369);
}
span{
  font-weight: bold;

  color: #ff0000;
}
footer{
  background-color: #ff0000;
  border: 4px solid #0808B9;
}
nav{
  background-color:#0860B9;
  background-image:linear-gradient(to bottom, #0042fb, #0086ff, #00b5ff, #00daff, #00fbe5);
  text-decoration: none;

}
h1{
  background-color: #0042fb;
text-decoration: none;
margin:0px;

}
h1 a{
  text-decoration: none;
}
h1 a:hover{
  color: #FFFFFF;
}
main{
  background-color: #FFFFFF;
  padding: 10px;
}
h2{
  border-bottom: 3px solid #1623de;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color:#1623de;
  text-decoration: none;
}
.blockimg{
  border: 3px solid #1623de;


}
.floatimage{
  margin: 20px;
  float: right;
  border: 3px solid #1623de;
}
.floatimag{
  margin: 10px;
  float: left;
  border: 3px solid #1623de;
}
.customtext{
  text-align: justify;
}
