/* CSS */

.borderbottom{
  border-bottom: 2px solid #7002DE;
  font: 15px impact, san-serif;
color: #7002DE;

}
.bordertop{
  color: #8634DF;
  font: 12px impact, san-serif;

}
body{
   background-image: linear-gradient(to bottom, #fbc400, #fbc400, #fbc400, #fbc400, #fbc400);


}
body{ font-size: 200%}
.pxfont{font-size: 16px;
}

.customtext{

  font-family: impact;
  text-decoration-color:#DEDE02;
}
.fontcombined{
  font: bold 20px Arial, helvetica, sans-serif;
  color: #fb004d #ff0070 #fe009a, #e900ca #b900fb
}




h1{
  font-weight: bold;
  color: #fb004d #ff0070 #fe009a, #e900ca #b900fb;
   font: 20px impact;
}
.textspace{
  letter-spacing: 40px;

}
.blockimg{
  display: block;
}
a link{
  color: #8634DF;
  font: 10px impact,san-serif;
}
a{
  color: #8634DF;
  text-decoration: none

}
a:hover{
  color: #FB004D;
text-decoration: underline;
}
h1{
  color: #FB004D;
  font: 100px impact, san-serif;
}
.pixelwidth{
  color: #FB004D;
  width: 635px;
font: 20px impact, san-serif;


}
div{
  border:1px solid #fbc400;
  padding: 20px 20px 20px 20px;
  background-color: #fbc400;
}
span{
  color: #B900FB;
}
.imgbox{
  border: 5px solid #fbc400;

}
